# Node modules
node_modules/
package-lock.json/
.env.local/
.env.production/
config.js/



# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Coverage reports
coverage/

# npm debug
npm-debug.log*
